/* Large desktop */
@media (min-width: 980px) { 
 .linediv-l {
   border-right: 1px white solid;
  }
 .linediv-r {
   border-left: 1px white solid;
 }
}

/* Landscape phones and down */
@media (max-width: 480px) { 
 .copy {
   padding: 2.5% 10%;
 }
 .linediv-l {
   border-bottom: 1px white solid;
 }
 .linediv-r {
   border-top: 1px white solid;
 }
}
/* ------------------------------------------------------------------------------
  H E A D E R
--------------------------------------------------------------------------------- */
header {
    margin: 10px 0;
}
/* ------------------------------------------------------------------------------
  S I D E B A R
--------------------------------------------------------------------------------- */
.sidemenu ul, ul.search {
    list-style: none;
    margin: 20px 0 24px 0;
    border-top:  1px  solid #E5E5E5;
}
.sidemenu ul li, ul.search li {
    margin: 0;
    padding: 10px 5px;
    border-bottom:  1px  solid #E5E5E5;
}
.sidemenu ul li a {
    text-transform: uppercase;
}
.sidemenu img {
  -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
  -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
  box-shadow: 0px 1px 5px 0px #4a4a4a;
  border: 1px solid #aaa;
}
.sidemenu form {
  margin: 0;
}
ul.search {
  margin: 0;
  border-top: 0;
}
.search input {
  background: #f5f5f5 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAb0lEQVR42p2RMQ7AIAhFWXsG1h7Gtffo6urqyJGpwyetomnwJ38BH/wgfZSaS7PABbVOqkqm3Fzx6IQTatlDb5PJi21YBy1iuNgjJIgzFXqyCcXj1Z1DXNGTiw01aP252DCCgH7Fk41h8KaAGMDxADnaOPucd/m3AAAAAElFTkSuQmCC') no-repeat 7px 6px;
  padding: 2px 10px 2px 25px;
}
.search input.loading {
  background-image: url(data:image/gif;base64,R0lGODlhEAAQAPMPALu7u5mZmTMzM93d3REREQAAAHd3d1VVVWZmZqqqqoiIiO7u7kRERCIiIgARAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFBwAPACwAAAAAEAAQAEAEcPDJtyg6dUrFetDTIopMoSyFcxxD1krD8AwCkASDIlPaUDQLR6G1Cy0SgqIkE1IQGMrFAKCcGWSBzwPAnAwarcKQ15MpTMJYd1ZyUDXSDGelBY0qIoBh/ZoYGgELCjoxCRRvIQcGD1kzgSAgAACQDxEAIfkEBQcADwAsAAAAAA8AEAAABF3wyfkMkotOJpscRKJJwtI4Q1MAoxQ0RFBw0xEvhGAVRZZJh4JgMAEQW7TWI4EwGFjKR+CAQECjn8DoN0kwDtvBT8FILAKJgfoo1iAGAPNVY9DGJXNMIHN/HJVqIxEAIfkEBQcADwAsAAAAABAADwAABFrwyfmColgiydpaQiY5x9Ith7hURdIl0wBIhpCAjKIIxaAUPQ0hFQsAC7MJALFSFi4SgC4wyHyuCYNWxH3AuhSEotkNGAALAPqqkigG8MWAjAnM4A8594vPUyIAIfkEBQcADwAsAAAAABAAEAAABF3wySkDvdKsddg+APYIWrcg2DIRQAcU6DJICjIsjBEETLEEBYLqYSDdJoCGiHgZwG4LQCCRECEIBAdoF5hdEIWwgBJqDs7DgcKyRHZl3uUwuhm2AbNNW+LV7yd+FxEAIfkEBQcACAAsAAAAABAADgAABEYQyYmMoVgeWQrP3NYhBCgZBdAFRUkdBIAUguVVo1ZsWFcEGB5GMBkEjiCBL2a5ZAi+m2SAURExwKqPiuCafBkvBSCcmiYRACH5BAUHAA4ALAAAAAAQABAAAARs0MnpAKDYrbSWMp0xZIvBKYrXjNmADOhAKBiQDF5gGcICNAyJTwFYTBaDQ0HAkgwSmAUj0OkMrkZM4HBgKK7YTKDRICAo2clAEIheKc9CISjEVTuEQrJASGcSBQcSUFEUDQUXJBgDBW0Zj34RACH5BAUHAA8ALAAAAAAQABAAAARf8Mn5xqBYgrVC4EEmBcOSfAEjSopJMglmcQlgBYjE5NJgZwjCAbO4YBAJjpIjSiAQh5ayyRAIDKvJIbnIagoFRFdkQDQKC0RBsCIUFAWsT7RwG410R8HiiK0WBwJjFBEAIfkEBQcADgAsAQABAA8ADwAABFrQybEWADXJLUHHAMJxIDAgnrOo2+AOibEMh1LN62gIxphzitRoCDAYNcNN6FBLShao4WzwHDQKvVGhoFAwGgtFgQHENhoB7nCwHRAIC0EyUcC8Zw1ha3NIRgAAIfkEBQcADwAsAAAAABAAEAAABGDwyfnWoljaNYYFV+Zx3hCEGEcuypBtMJBISpClAWLfWODymIFiCJwMDMiZBNAAYFqUAaNQ2E0YBIXGURAMCo1AAsFYBBoIScBJEwgSVcmP0li4FwcHz+FpCCQMPCFINxEAIfkEBQcADgAsAAABABAADwAABFzQyemWXYNqaSXY2vVtw3UNmROM4JQowKKlFOsgRI6ASQ8IhSADFAjAMIMAgSYJtByxyQIhcEoaBcSiwegpDgvAwSBJ0AIHBoCQqIAEi/TCIAABGhLG8MbcKBQgEQAh+QQFBwAPACwAAAEAEAAPAAAEXfDJSd+qeK5RB8fDRRWFspyotAAfQBbfNLCVUSSdKDV89gDAwcFBIBgywMRnkWBgcJUDKSZRIKAPQcGwYByAAYTEEJAAJIGbATEQ+B4ExmK9CDhBd8ThdHw/AmUYEQAh+QQFBwAPACwAAAEADwAPAAAEXvBJQIa8+ILSspdHkXxS9wxF4Q3L2aTBeC0sFjhAtuyLIjAMhYc2GBgaSKGuyNoBDp7czFAgeBIKwC6kWCAMxUSAFjtNCAAFGGF5tCQLAaJnWCTqHoREvQuQJAkyGBEAOw==);
  background-position: 5px 4px;
}
.sidemenu input {
    width: 86%;
}
ul.search li {
    padding: 5px 5px;
    border-bottom: 0;
}
ul.search li a {
    text-transform: none;
}
/* ------------------------------------------------------------------------------
  P O S T
--------------------------------------------------------------------------------- */
.post {
    margin: 30px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #E5E5E5;
}
.post:last-child {
    border-bottom: none;
}
.post-meta {
    margin: 0;
}
.post-meta ul {
    list-style: none;
    border-top: 1px solid #E5E5E5;
    margin: 0;
}
.post-meta ul li {
    padding: 4px 0;
    border-bottom: 1px solid #E5E5E5;
    text-align: right;
    display: block;
}
.icon-user:before {
    float: left;
}
.icon-time:before {
    float: left;
}
/* ------------------------------------------------------------------------------
  F O O T E R
--------------------------------------------------------------------------------- */
.footer {
  border-top: 1px solid #E5E5E5;
  padding: 10px;
  margin: 30px 0 0 0;
  font-size: 14px;
  color: inherit;
  background-color: #f5f5f5;
}
.footer-list ul {
    list-style: none;
    margin: 0;
}
.footer-list ul li {
    line-height: 25px;
}
/* ------------------------------------------------------------------------------
  A D D T H I S
--------------------------------------------------------------------------------- */
.at-share-open-control-left {
  position: fixed;
  top: 20%;
  z-index: 100020;
  left: 0;
  width: 22px;
}
div.at4-arrow {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAAoCAYAAABpYH0BAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAV1JREFUeNrsmesOgyAMhQfxwfrofTM3E10ME2i5Oeppwr9a5OMUCrh1XV+wcvNAAIAA+BiAzrmtUWln27dbjEcC3AdODfo0BdEPhmcO4nIDvDNELi2jggk4/k8dT7skfeKzWIEd4VUpMQKvNB7X+OZSmAZkATWC1xvipbpnLmOosbJZC08CkAeA4E6qFUEMwLAGnlSBPCE8lW8CYnZTcimH2HoT7kSFOx5HBmCnDhTIu1p5s98G+QZrxGPhZVMY1vgyAQaAAAiAAAgDQACcBOD+BvJtBWfRy7NpJK5tBe4FNzXokywV734wPHMQlxvgnSGyNoUP/2ACjv/7iSeYKO3YWKzAjvCqlBiBVxqPa3ynexNJwOsN8TJbzL6JNIYYXWpMv4lIIAZgWANPqkCeEJ7KNwExu8lpLlSpAVQarO77TyKdBsyRPuwV0h0gmoGnTWFYzVkYBoAA+I/2FmAAt6+b5XM9mFkAAAAASUVORK5CYII=);
  background-image: url(/images/arrows.gif);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-indent: -9999em;
  text-align: left;
  cursor: pointer;
}
div.at4-arrow.at-right {
  background-position: -20px 0;
}
/* ------------------------------------------------------------------------------
  L O A D I N G
--------------------------------------------------------------------------------- */
#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: none;
  z-index: 99;
  text-align: center;
}

#loading-image {
  margin: auto;
  margin-top: 20%;
  z-index: 1;
  border: 1px solid #ddebf4;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #3CA5D2;
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #3CA5D2;
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #3CA5D2;
}
/* ------------------------------------------------------------------------------
  M I S C
--------------------------------------------------------------------------------- */
[class^="icon-"] {
    padding: 0 10px;
}
.atss {
    top: 220px;
}
ul.nostyle, ul.nostyle li {
    background: none repeat scroll 0 0 transparent;
    list-style: none outside none;
    margin: 0 -2px;
}
ul.nostyle li {
    display: inline;
    float: left;
    padding: 5px;
}
#main {
    min-height: 250px;
}
h3 {
    position: relative;
}
a.anchor {
    bottom: 0;
    cursor: pointer;
    display: block;
    margin-left: -30px;
    padding-left: 30px;
    left: 0;
    top: 0;
    position: absolute;
    text-decoration: none;
}
a.anchor > span {
    display: none;
}
a.anchor > span:before {
    font: 12px/18px FontAwesome;
    content: "\f0c1";
    margin-left: -20px;
}
.sidemenu ul li:hover {
    background-color: #f5f5f5;
}
.sidemenu ul li.active {
    background-color: #f5f5f5;
}
.sidemenu ul li a, .search a {
    text-decoration: none;
}
/* ------------------------------------------------------------------------------
  C U S T O M
--------------------------------------------------------------------------------- */
.navbar-inverse .navbar-inner {
  background-image: -moz-linear-gradient(center top , #04498C, #04498C);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#04498c),to(#04498C));
  background-image: -webkit-linear-gradient(top,#04498c,#04498C);
  background-image: -o-linear-gradient(top,#04498c,#04498C);
  background-image: linear-gradient(to bottom,#04498c,#04498C);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
