<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="description" content="JIRA Timesheet Plugin for Atlassian JIRA extends time tracking means with pivot and timesheet reports
     and gadgets for JIRA dashboard or confluence. ">
    <meta name="author" content="Andriy Zhdanov">
    <meta name="keywords" content="time, timesheet, time sheet, timesheet gadget, work log,
        timetraking, time tracking, time report, time reporting, dashboard gadget, timesheet system, project management">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Email Time Sheet Report | JIRA Timesheet Plugin</title>

    <link rel="stylesheet" type="text/css" media="screen" href="http://netdna.bootstrapcdn.com/bootswatch/2.3.2/cerulean/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/all-1463685514000.css"> 
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.7.2.min.js"><\/script>')</script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
    <script src="/js/all-1399832936000.js"></script> 

    <script src="/js/sammy/sammy-0.7.2.js"></script>
    <script src="/js/sammy/plugins/sammy.title-0.7.2.js"></script>
    <script src="/js/sammy/plugins/sammy.googleanalytics-0.7.2.js"></script>
    <script src="/js/app/main.js"></script>
    <script src="/js/app/markdown.js"></script>

    <script src="/js/searchApp.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-30916140-2', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body id="top">

<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
        <button type="button" class="btn btn-navbar"
                data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand active" href="/">JIRA Server</a>
        <a class="brand" href="/timereports/">JIRA Cloud</a>
        <!--a class="brand" href="/timespent/">Bitbucket</a-->
        <div class="nav-collapse collapse">
        <ul class="nav">
          <li id="home" ><a href="/">Home</a><span></span></li>
          <li id="wiki" class="active"><a href="/wiki/Overview.html">Documentation</a><span></span></li>
          <li id="roadmap" ><a href="/roadmap.html">Roadmap</a><span></span></li>
          <li id="support" ><a href="/support.html">Support</a><span></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  
  <header>
    <div class="row-fluid">
      <div class="span12">
        <h1>JIRA Timesheet Reports and Gadgets</h1>
        <p class="lead">Extended JIRA time tracking means</p>
      </div>
    </div>
  </header>

  <div id="content">

  <section>
    <div class="row-fluid">
      <div class="span9">
        <h2>Email Time Sheet Report</h2>
        <p>Available since Version 2.5.</p>

<p>See &#39;Subscribe&#39; link on Time Sheet Report (and Pivot Report since version <a href="https://marketplace.atlassian.com/plugins/jira-timesheet-plugin/versions#b997)">2.8.3.2</a>, it should change to &#39;Unsubscribe&#39; when clicked.</p>

<p>If so, Report Email, is scheduled weekly on the next day to the End Date day of the report at 4 a.m. All report parameters should be remembered. You can see them and also be able to change the schedule in Issues - Timesheet/Subscriptions menu. There, Subscriptions list shows only currently logged in user subscriptions with different report parameters.</p>

<h3><a id="Timesheet_Subscriptions" class="anchor" href="/wiki/Email_Time_Sheet_Report.html#Timesheet_Subscriptions"><span></span></a>Timesheet Subscriptions</h3>

<p><img alt="Timesheet Subscriptions" class="markdown" src="http://bitbucket.org/azhdanov/jiratimesheet/wiki/Email_Time_Sheet_Report/timesheet_subscriptions.png"/></p>

<p>Subscription is based on End Date, and number of weeks is derived from displayed report. End Date is used as Reporting Day, similarly to Timesheet Gadget, to show worked hours before Reporting Day.</p>

<p>Since version <a href="https://marketplace.atlassian.com/plugins/jira-timesheet-plugin/versions#b823">2.8.1</a> it is now possible to send user group a copy of Timesheet Email that you&#39;re subscribed to. In menu Issues - Timesheet Subscriptions, click Schedule for relevant subscription and see <code>CC Users in Group</code> option.</p>

<p>Additionally, it allows to remind group members if there is incomplete day in the timesheet. See <code>Remind Users in Group</code> option. Reminder email will have a notice in report body, if any working day has 0 reported hours, or less than value specified in <code>Highlight Hours</code> configuration option in <a href="Plugin_Configuration.html">Plugin Configuration</a>.</p>

<p>It is also possible to include Excel export as an attachment in email, by enabling Excel attachment option in the subscription Schedule dialog.</p>

<h3><a id="Administration" class="anchor" href="/wiki/Email_Time_Sheet_Report.html#Administration"><span></span></a>Administration</h3>

<p>It is possible to manage all Timesheet Subscriptions in Administration - Add-Ons - Timesheet Subscriptions. Where administrators can update or remove an orphan or undesired subscriptions.</p>
        <p class="pull-right">
          <a href="#" data-href="#top" class="back-to-top">Back to Top</a>
        </p>
      </div>
      <div class="span3 sidemenu">
        <ul>
          <li ><a href="/wiki/Overview.html">Overview</a></li>
          <li ><a href="/wiki/Frequent_Questions.html">Frequent Questions</a></li>
          <li ><a href="/wiki/Plugin_Configuration.html">Plugin Configuration</a></li>
          <li ><a href="/wiki/Tips_and_Tricks.html">Tips and Tricks</a></li>
          <li class="active"><a href="/wiki/Email_Time_Sheet_Report.html">Email Time Sheet Report</a></li>
          <li ><a href="/wiki/Timesheet_Holidays.html">Timesheet Holidays</a></li>
          <li ><a href="/wiki/Multiple_Time_Zones.html">Multiple time zones</a></li>
          <li ><a href="/wiki/RESTful_endpoint.html">RESTful endpoint<a></li>
          <li ><a href="/wiki/Unified_Plugin_Views".html>Unified plugin views</a></li>
          <li ><a href="/wiki/Commercial.html">Commercial</a></li>
          <!-- CAUTION: add to rest_content_handler.js#getContentPaths also -->
        </ul>
        <div ng-app="searchApp" ng-controller="SearchWikiCtrl">
        <form>
          <fieldset class="search">
             <input type="text" title="Start typing" ng-model="query"/>
          </fieldset>
        </form>
        <ul class="search">
          <li ng-repeat="content in contents | matchesQuery:query">
            <a ng-href="{[{content.href}]}.html">{[{content.title}]}</a> 
          </li>
        </ul>
        </div>
      </div>
    </div>
  </section>

  </div>

</div>

<div class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span3">
        <h3>Contact Info</h3>
        <div class="footer-list">
        <ul>
            <li><strong>Address: </strong>Prague, Czech Republic</li>
            <li><strong>E-mail: </strong><a href="mailto:azhdanov@gmail.com">azhdanov@gmail.com</a></li>
          </ul>
        </div>
      </div>
    <div class="span3">
        <h3>Links</h3>
        <div class="footer-list">
          <ul>
            <li><a href="https://marketplace.atlassian.com/plugins/jira-timesheet-plugin" target="blank">Atlassian Marketplace</a><i class="icon-external-link"></i></li>
            <li><a href="https://answers.atlassian.com/tags/addon-jira-timesheet-plugin/" target="blank">Atlassian Answers</a><i class="icon-external-link"></i></li>
          </ul>
        </div>
      </div>
    <div class="span3">
        <h3>Site</h3>
        <div class="footer-list">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/wiki/Overview.html">Documentation</a></li>
            <li><a href="/roadmap.html">Roadmap</a></li>
            <li><a href="/support.html">Support</a></li>
          </ul>
        </div>
      </div>
      <div class="span3">
        <h3>Copyright</h3>
        <p class="footer-list">&copy; Andriy Zhdanov 2012-2016</p>
      </div>
    </div>
    <hr/>
    <div class="row-fluid">
    <div class="span12">
        <p class="pull-right">
      <a href="#" data-href="#top" class="back-to-top">Back to Top</a>
    </p>
    </div>
  </div>
  </div>
</div>

<div id="at4-soc" class="atss at-share-open-control-left ats-transparent animated slideInLeft at4-show">
  <div class="at4-arrow at-right" title="Show">Show</div>
</div>

<div id="loading">
  <img id="loading-image" src="/images/loading.gif" alt="Loading..." />
</div>

<div id="fb-root"></div>

</body>
</html>
