<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="description" content="JIRA Timesheet Plugin for Atlassian JIRA extends time tracking means with pivot and timesheet reports
     and gadgets for JIRA dashboard or confluence. ">
    <meta name="author" content="Andriy Zhdanov">
    <meta name="keywords" content="time, timesheet, time sheet, timesheet gadget, work log,
        timetraking, time tracking, time report, time reporting, dashboard gadget, timesheet system, project management">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Frequent Questions | JIRA Timesheet Plugin</title>

    <link rel="stylesheet" type="text/css" media="screen" href="http://netdna.bootstrapcdn.com/bootswatch/2.3.2/cerulean/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/all-1397507776000.css"> 
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.7.2.min.js"><\/script>')</script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
    <script src="/js/all-1395265885000.js"></script> 

    <script src="/js/sammy/sammy-0.7.2.js"></script>
    <script src="/js/sammy/plugins/sammy.title-0.7.2.js"></script>
    <script src="/js/sammy/plugins/sammy.googleanalytics-0.7.2.js"></script>
    <script src="/js/app/main.js"></script>
    <script src="/js/app/markdown.js"></script>

    <script src="/js/searchApp.js"><script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30916140-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!-- AddThis Smart Layers BEGIN -->
    <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
    <!-- see site.js for dynamic loading
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5206946308988819"></script>
    <script type="text/javascript">
      addthis.layers({
        'theme' : 'transparent',
        'share' : {
          'position' : 'left',
          'numPreferredServices' : 5
        }   
      });
    </script>
    -->
    <!-- AddThis Smart Layers END -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      {parsetags: 'explicit'}
    </script>
    <script type="text/javascript" src="//connect.facebook.net/en_US/all.js"></script>
</head>

<body id="top">

<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
        <button type="button" class="btn btn-navbar"
                data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="brand" href="#">JIRA Timesheet</a>
        <div class="nav-collapse collapse">
        <ul class="nav">
          <li id="home" ><a href="/">Home</a><span></span></li>
          <li id="wiki" class="active"><a href="/wiki/Overview.html">Documentation</a><span></span></li>
          <li id="roadmap" ><a href="/roadmap.html">Roadmap</a><span></span></li>
          <li id="support" ><a href="/support.html">Support</a><span></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  
  <header>
    <div class="row-fluid">
      <div class="span12">
        <h1>JIRA Timesheet Reports and Gadgets</h1>
        <p class="lead">Extended JIRA time tracking means</p>
      </div>
    </div>
  </header>

  <div id="content">

  <section>
    <div class="row-fluid">
      <div class="span9">
        <h2>Frequent Questions</h2>
        <p>If you have not found your answer here or in <a href="https://answers.atlassian.com/tags/addon-jira-timesheet-plugin/">Atlassian Answers</a>, do not hesitate to write me an <a href="mailto:azhdanov@gmail.com">email</a> in English, Russian or Czech language at your convenience.</p>

<h3><a id="Timesheet_plugin_License_for_JIRA_OnDemand" class="anchor" href="/wiki/Frequent_Questions.html#Timesheet_plugin_License_for_JIRA_OnDemand"><span></span></a>Timesheet plugin License for JIRA OnDemand</h3>

<p>Timesheet Reports and Gadgets for JIRA add-on is free and pre-installed on JIRA OnDemand instance. However some new features require license. You don&#39;t need license unless you need additional features like <a href="Plugin_Configuration.html">Timesheet Configuration</a>, <a href="Timesheet_Holidays.html">Timesheet Holidays</a>, <a href="Email_Time_Sheet_Report.html">Timesheet Email</a> and <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/416">Worked Time Chart</a> in JIRA OnDemand. You will be redirected to license management page once you access these features.</p>

<p>License can be obtained <a href="http://www.jiratimesheet.com/#/license">here</a>, please see there for more information about license for Timesheet plugin for JIRA OnDemand.</p>

<h3><a id="What_license_do_we_need_For_JIRA_onpremise_hereafter" class="anchor" href="/wiki/Frequent_Questions.html#What_license_do_we_need_For_JIRA_onpremise_hereafter"><span></span></a>What license do we need? For JIRA on-premise, hereafter.</h3>

<p>You need the same license as your JIRA has. If it has Unlimited license then you need Unlimited license for plugin too, even though you&#39;ve bought JIRA after Feb 2012. Just highlight in comments that your JIRA has Unlimited license. See also <a href="https://www.atlassian.com/licensing/marketplace#licensingandpricing-1">Licensing and Pricing</a>.</p>

<p>Note, when you upgrade (or renew Unlimited license to valid tier, see <a href="https://www.atlassian.com/licensing/jira#downloadlicenses-4">JIRA Grandfathering</a>), please be sure to include Timesheet plugin in your request at the same user-tier.</p>

<h3><a id="Do_we_need_license_for_our_TEST_instance_to_keep_plugin_active" class="anchor" href="/wiki/Frequent_Questions.html#Do_we_need_license_for_our_TEST_instance_to_keep_plugin_active"><span></span></a>Do we need license for our TEST instance to keep plugin active?</h3>

<p>Yes, you need another license, if you plan to install plugin to on another server (see also <a href="http://www.atlassian.com/licensing/marketplace#licensingandpricing-4">Licensing and Pricing</a>), but for TEST server you may use developer license, see how to create developer licenses <a href="http://www.atlassian.com/licensing/purchase-licensing#licensing-9">here</a>.</p>

<h3><a id="Is_it_possible_to_extend_evaluation_license" class="anchor" href="/wiki/Frequent_Questions.html#Is_it_possible_to_extend_evaluation_license"><span></span></a>Is it possible to extend evaluation license?</h3>

<p>You can generate up to six one month evaluation licenses total for an add-on, for a total of six months of evaluation.  These evaluations were accommodated for long purchasing cycles in some organizations. Please do not abuse it.</p>

<p>You should be able to generate these licensing manually on <a href="https://plugins.atlassian.com/plugins/jira-timesheet-plugin">Add-on page</a>.</p>

<p>This policy is also documented on the <a href="http://www.atlassian.com/licensing/marketplace#licensingandpricing-3">Marketplace Licensing and Purchasing FAQ</a>.</p>

<h3><a id="Can_I_request_a_quote_for_purchase" class="anchor" href="/wiki/Frequent_Questions.html#Can_I_request_a_quote_for_purchase"><span></span></a>Can I request a quote for purchase?</h3>

<p>Yes, please go through <a href="https://my.atlassian.com/purchase/buyaddon?key=jira-timesheet-plugin">Buy License Now</a> at plugin page on <a href="https://plugins.atlassian.com/plugins/jira-timesheet-plugin">Atlassian Marketplace</a>, click <code>Add to Cart</code> and then <code>Save this Quote</code>, which you can pay later when you are ready.</p>

<h3><a id="How_much_does_the_license_upgrade_cost" class="anchor" href="/wiki/Frequent_Questions.html#How_much_does_the_license_upgrade_cost"><span></span></a>How much does the license upgrade cost?</h3>

<p>See <a href="https://www.atlassian.com/purchase/addon/jira-timesheet-plugin">order form</a>, which should tell you your actual price when you click on the &quot;Upgrade&quot; tab and Enter the license SEN and email address for a current license contact.</p>

<h3><a id="How_to_see_plugin_in_action_after_install" class="anchor" href="/wiki/Frequent_Questions.html#How_to_see_plugin_in_action_after_install"><span></span></a>How to see plugin in action after install?</h3>

<p>It is necessary to add timesheet gadget to your dashboard at JIRA Administration - System Dashboard. See also video for more details on <a href="http://www.youtube.com/watch?v=ofocpgsf-AY#t=00m51s">YouTube</a>. Also reports are availabe in Projects menu, for selected project, see Timesheet Report and Project Pivot Report in the most bottom.</p>

<p>Note, you may need to enable Time Tracking also at <code>JIRA Administration</code> - <code>Time Tracking</code>.</p>

<h3><a id="How_to_make_gadgets_and_reports_show_larger_time_period_than_2_months" class="anchor" href="/wiki/Frequent_Questions.html#How_to_make_gadgets_and_reports_show_larger_time_period_than_2_months"><span></span></a>How to make gadgets and reports show larger time period than 2 months?</h3>

<p>Since version 2.4 there is <code>Maximum Period Limit</code> <a href="Plugin_Configuration.html">Plugin Configuration</a> property.</p>

<p>Before version 2.4 you need to add the following property to <code>jira-home/jira-config.properties</code> and restart JIRA, e.g. for year:</p>

<pre><code>jira.timesheet.plugin.maxDays = 360</code></pre>

<p>Please see issue <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/169">#169</a> for reference, and also <a href="https://confluence.atlassian.com/display/JIRA050/Advanced+JIRA+Configuration">Advanced JIRA Configuration</a>.</p>

<h3><a id="Problem_Timesheet_always_shows_the_current_week" class="anchor" href="/wiki/Frequent_Questions.html#Problem_Timesheet_always_shows_the_current_week"><span></span></a>Problem? Timesheet always shows the current week</h3>

<p>For some reason the timesheet always shows the current week, regardless what has been selected in report configuration page. Report displays current week start and end dates.</p>

<p>This might be because of misconfigured UI and backend date format, please check <a href="https://confluence.atlassian.com/display/JIRA/Customizing+the+Look+and+Feel#CustomizingtheLookandFeel-Date/TimeFormats">Customising the Look and Feel</a> and make sure your settings are correct.</p>

<h3><a id="Problem_Group_Timesheet_does_not_show_data" class="anchor" href="/wiki/Frequent_Questions.html#Problem_Group_Timesheet_does_not_show_data"><span></span></a>Problem? Group Timesheet does not show data</h3>

<p>This might be because does not have required permission. Timesheet by user group checks for <code>Browse Users</code> permission, for security reasons, see issue <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/125#comment-2780210">#125</a> for more details.</p>

<p>Please see <a href="http://www.atlassian.com/software/jira/docs/v3.0/permissions.html#global_permissions">Global Permissions</a> for information about Browse Users permission</p>

<p>Also since version 2.3.15, there may be no data displayed, even if permissions are there, but project specified in report or gadget configuration. In this case it&#39;s necessary to update your project roles to include relevant groups. If project and group are specified, plugin displays worked hours for project members only. And membership is determined by all project roles beside Users. Adding needed groups to Developers role should be sufficient, but you may want to elaborate project roles. Then you may use project roles without groups to get project timesheet.</p>

<h3><a id="Problem_Timesheet_does_not_show_anything" class="anchor" href="/wiki/Frequent_Questions.html#Problem_Timesheet_does_not_show_anything"><span></span></a>Problem? Timesheet does not show anything</h3>

<p>There might be unexpected issues within worked time collecting algorithms, which may be easier to solve with debug logging enabled for plugin. You may edit &lt;JIRA_HOME&gt;/WEB-INF/classes/log4j.properties or use temporary logging as described <a href="https://confluence.atlassian.com/display/JIRA/Logging+and+Profiling#LoggingandProfiling-logging_temp">here</a>. Add the following categories, just emit <code>log4.logger.</code> if you use temporary logging, or restart JIRA if you edit log4.properties; perform relevant scenario, retrieve logs and send them with your email request for help or attach to bug you create:</p>

<pre><code>log4j.logger.com.fdu.jira.plugin = DEBUG, console, filelog
log4j.additivity.com.fdu.jira.plugin = false

log4j.logger.jira.plugin = DEBUG, console, filelog
log4j.additivity.jira.plugin = false</code></pre>

<h3><a id="We_are_getting_excessive_warnings_in_the_log_how_is_it_possible_to_prevent_this_to_spam_our_Log" class="anchor" href="/wiki/Frequent_Questions.html#We_are_getting_excessive_warnings_in_the_log_how_is_it_possible_to_prevent_this_to_spam_our_Log"><span></span></a>We are getting excessive warnings in the log, how is it possible to prevent this to spam our Log?</h3>

<p>It was caused by implementation specifics in previous versions, and did not influence plugin functionality, however is fixed since 2.3.13.</p>

<p>Prior 2.3.13, please see issue <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/37#comment-2779866">#37</a> for the information on how to suppress warnings in log</p>

<h3><a id="How_to_purchase_from_countries_unsupported_by_Atlassian_Marketplace" class="anchor" href="/wiki/Frequent_Questions.html#How_to_purchase_from_countries_unsupported_by_Atlassian_Marketplace"><span></span></a>How to purchase from countries unsupported by Atlassian Marketplace?</h3>

<p>Now customers from almost all countries can buy directly from Atlassian Markplace.</p>

<p>Though, if you&#39;re from country from <a href="http://www.atlassian.com/licensing/marketplace#generalmarketplacequestions-12">the exception list</a>, please contact any Altlassian Expert at your preference or from <a href="https://confluence.atlassian.com/display/CUST/Marketplace+-+How+to+Purchase">the list on this page</a>. Someone can help you facilitate the purchase. It should be enough to ask for quote for JIRA Timesheet Reports and Gadgets Plugin to initiate the process.</p>

<p>I may recommend the following Atlassian Experts who help often to purchase Timesheet plugin:</p>

<ul><li><a href="http://www.k15t.com/">K15t Software GmbH</a>, located in Germany, contact <a href="http://www.k15t.com/company/contact">here</a></li><li>Pix Software, located in Germany and Netherlands, contact <a href="mailto:arne.schirmacher@softwaretesting.de">Arne Schirmacher</a></li><li>Go2Group, located in Japan and Hong Kong, contact <a href="mailto:btaylor@go2group.com">Brett Taylor</a></li><li>Clearvision, located in Ireland and UK, contact <a href="mailto:sales@clearvision-cm.com">Neil Butler</a></li><li>Valiantys, located in Switzerland, contact <a href="francois.dussurget@valiantys.com.html">Francois Dussurget</a></li><li><a href="http://www.translucent.dk/">Translucent ApS</a>, located in Denmark and Norway, contact  <a href="mailto:jorne@mesan.no">Jørn Eriksen</a></li></ul>

<h3><a id="Is_there_a_reseller_program" class="anchor" href="/wiki/Frequent_Questions.html#Is_there_a_reseller_program"><span></span></a>Is there a reseller program?</h3>

<p>Plugin is sold only via <a href="https://marketplace.atlassian.com/plugins/jira-timesheet-plugin">Atlassian Marketplace</a>. There is 20% discount for Atlassian Experts resellers. For non Atlassian Experts there is no  official reseller program. Resellers can purchase license for their customers at regular basis. See also <a href="http://www.atlassian.com/licensing/marketplace">Atlassian Marketplace FAQ</a> for more details about Atlassian Marketplace.</p>
        <p class="pull-right">
          <a href="#" data-href="#top" class="back-to-top">Back to Top</a>
        </p>
      </div>
      <div class="span3 sidemenu">
        <ul>
          <li ><a href="/wiki/Overview.html">Overivew</a></li>
          <li class="active"><a href="/wiki/Frequent_Questions.html">Frequent Questions</a></li>
          <li ><a href="/wiki/Plugin_Configuration.html">Plugin Configuration</a></li>
          <li ><a href="/wiki/Tips_and_Tricks.html">Tips and Tricks</a></li>
          <li ><a href="/wiki/Email_Time_Sheet_Report.html">Email Time Sheet Report</a></li>
          <li ><a href="/wiki/Timesheet_Holidays.html">Timesheet Holidays</a></li>
          <li ><a href="/wiki/Multiple_Time_Zones.html">Multiple time zones</a></li>
          <li ><a href="/wiki/RESTful_endpoint.html">RESTful endpoint<a></li>
          <li ><a href="/wiki/Unified_Plugin_Views".html>Unified plugin views</a></li>
          <li ><a href="/wiki/Commercial.html">Commercial</a></li>
          <!-- CAUTION: add to rest_content_handler.js#getContentPaths also -->
        </ul>
        <div ng-app="searchApp" ng-controller="SearchWikiCtrl">
        <form>
          <fieldset class="search">
             <input type="text" title="Start typing" ng-model="query"/>
          </fieldset>
        </form>
        <ul class="search">
          <li ng-repeat="content in contents | matchesQuery:query">
            <a ng-href="{[{content.href}]}.html">{[{content.title}]}</a> 
          </li>
        </ul>
        </div>
      </div>
    </div>
  </section>

  </div>

</div>

<div class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span3">
        <h3>Contact Info</h3>
        <div class="footer-list">
        <ul>
            <li><strong>Address: </strong>Prague, Czech Republic</li>
            <li><strong>E-mail: </strong><a href="mailto:azhdanov@gmail.com">azhdanov@gmail.com</a></li>
          </ul>
        </div>
      </div>
    <div class="span3">
        <h3>Links</h3>
        <div class="footer-list">
          <ul>
            <li><a href="https://marketplace.atlassian.com/plugins/jira-timesheet-plugin" target="blank">Atlassian Marketplace</a><i class="icon-external-link"></i></li>
            <li><a href="https://answers.atlassian.com/tags/addon-jira-timesheet-plugin/" target="blank">Atlassian Answers</a><i class="icon-external-link"></i></li>
          </ul>
        </div>
      </div>
    <div class="span3">
        <h3>Site</h3>
        <div class="footer-list">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/wiki/Overview.html">Documentation</a></li>
            <li><a href="/roadmap.html">Roadmap</a></li>
            <li><a href="/support.html">Support</a></li>
          </ul>
        </div>
      </div>
      <div class="span3">
        <h3>Copyright</h3>
        <p class="footer-list">&copy; Andriy Zhdanov 2012-2014</p>
      </div>
    </div>
    <hr/>
    <div class="row-fluid">
    <div class="span12">
        <p class="pull-right">
      <a href="#" data-href="#top" class="back-to-top">Back to Top</a>
    </p>
    </div>
  </div>
  </div>
</div>

<div id="at4-soc" class="atss at-share-open-control-left ats-transparent animated slideInLeft at4-show">
  <div class="at4-arrow at-right" title="Show">Show</div>
</div>

<div id="loading">
  <img id="loading-image" src="/images/loading.gif" alt="Loading..." />
</div>

<div id="fb-root"></div>

</body>
</html>
