<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="description" content="JIRA Timesheet Plugin for Atlassian JIRA extends time tracking means with pivot and timesheet reports
     and gadgets for JIRA dashboard or confluence. ">
    <meta name="author" content="Andriy Zhdanov">
    <meta name="keywords" content="time, timesheet, time sheet, timesheet gadget, work log,
        timetraking, time tracking, time report, time reporting, dashboard gadget, timesheet system, project management">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Multiple Time Zones | JIRA Timesheet Plugin</title>

    <link rel="stylesheet" type="text/css" media="screen" href="http://netdna.bootstrapcdn.com/bootswatch/2.3.2/cerulean/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/all-1395268112000.css"> 
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.7.2.min.js"><\/script>')</script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script src="/js/all-1395265885000.js"></script> 

    <script src="/js/sammy/sammy-0.7.2.js"></script>
    <script src="/js/sammy/plugins/sammy.title-0.7.2.js"></script>
    <script src="/js/sammy/plugins/sammy.googleanalytics-0.7.2.js"></script>
    <script src="/js/app/main.js"></script>
    <script src="/js/app/markdown.js"></script>

    <script src="/js/searchApp.js"><script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30916140-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!-- AddThis Smart Layers BEGIN -->
    <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
    <!-- see site.js for dynamic loading
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5206946308988819"></script>
    <script type="text/javascript">
      addthis.layers({
        'theme' : 'transparent',
        'share' : {
          'position' : 'left',
          'numPreferredServices' : 5
        }   
      });
    </script>
    -->
    <!-- AddThis Smart Layers END -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      {parsetags: 'explicit'}
    </script>
    <script type="text/javascript" src="//connect.facebook.net/en_US/all.js"></script>
</head>

<body id="top">

<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
        <button type="button" class="btn btn-navbar"
                data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="brand" href="#">JIRA Timesheet</a>
        <div class="nav-collapse collapse">
        <ul class="nav">
          <li id="home" ><a href="/">Home</a><span></span></li>
          <li id="wiki" class="active"><a href="/wiki/Overview.html">Documentation</a><span></span></li>
          <li id="roadmap" ><a href="/roadmap.html">Roadmap</a><span></span></li>
          <li id="support" ><a href="/support.html">Support</a><span></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  
  <header>
    <div class="row-fluid">
      <div class="span12">
        <h1>JIRA Timesheet Reports and Gadgets</h1>
        <p class="lead">Extended JIRA time tracking means</p>
      </div>
    </div>
  </header>

  <div id="content">

  <section>
    <div class="row-fluid">
      <div class="span9">
        <h2>Multiple Time Zones</h2>
        <p>Version 2.3.7 introduced better support for multiple timezone environment (issue <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/281">#281</a>)</p>

<p>Consider two users logged worked done at the same time, but one in India, on Tuesday, and other in US, west coast, on Monday.</p>

<p>Jira will show worklog as if both entries were recorded at the same time for both users, on Monday or on Tuesday, <strong>depending on viewing user</strong>.</p>

<p>However from Timesheet it is expected:</p>

<p>1) When one in US looks at timesheet, he would see own time worked on Monday, and colleague from India worked time on Tuesday.</p>

<p>2) When other in India looks at timesheet, he would see own time on Tuesday, and colleague from US worked time on Monday.</p>

<p>That would correspond reality and allow correct time audit in teams distributed over multiple time zones.</p>

<h3><a id="Before_timesheet_plugin_worked_inline_with_Jira" class="anchor" href="/wiki/Multiple_Time_Zones.html#Before_timesheet_plugin_worked_inline_with_Jira"><span></span></a>Before timesheet plugin worked in-line with Jira.</h3>

<p>Case 1: admin (and server also) has GMT+1, logs work 1h done on 3d of Sep, of his local time.</p>

<p>Case 2: user has GMT+12, logs work 1h done on 4th of sep of his local time</p>

<h4><a id="Jira_worklog" class="anchor" href="/wiki/Multiple_Time_Zones.html#Jira_worklog"><span></span></a>Jira worklog</h4>

<p><img alt="Worklog Admin" class="markdown" src="http://bitbucket.org/azhdanov/jiratimesheet/wiki/Version%202.3.7/Worklog-admin.png"/></p>

<p>Case 1, admin’s view, notice, user’s date is “wrong”</p>

<p><img alt="Worklog User" class="markdown" src="http://bitbucket.org/azhdanov/jiratimesheet/wiki/Version%202.3.7/Worklog-user.png"/></p>

<p>Case 2, AZ’s view, notice admin’s date is “wrong”</p>

<h4><a id="Timesheet" class="anchor" href="/wiki/Multiple_Time_Zones.html#Timesheet"><span></span></a>Timesheet</h4>

<p><img alt="Timesheet Admin" class="markdown" src="http://bitbucket.org/azhdanov/jiratimesheet/wiki/Version%202.3.7/Timesheet-admin.png"/></p>

<p>Case 1, admin view</p>

<p><img alt="Timesheet Admin" class="markdown" src="http://bitbucket.org/azhdanov/jiratimesheet/wiki/Version%202.3.7/Timesheet-user.png"/></p>

<p>Case 2, user view</p>

<h3><a id="Now_Timesheet_shows_entries_as_they_were_created_by_worked_user" class="anchor" href="/wiki/Multiple_Time_Zones.html#Now_Timesheet_shows_entries_as_they_were_created_by_worked_user"><span></span></a>Now, Timesheet shows entries as they were created by worked user</h3>

<p><img alt="Timesheet Admin" class="markdown" src="http://bitbucket.org/azhdanov/jiratimesheet/wiki/Version%202.3.7/Timesheet-admin-fix.png"/></p>

<p>Case 1: admin view</p>

<p><img alt="Timesheet user" class="markdown" src="http://bitbucket.org/azhdanov/jiratimesheet/wiki/Version%202.3.7/Timesheet-user-fix.png"/></p>

<p>Case 2: user view.</p>

<p><strong>Worked time is displayed for the day that user worked on!</strong></p>
        <p class="pull-right">
          <a href="#" data-href="#top" class="back-to-top">Back to Top</a>
        </p>
      </div>
      <div class="span3 sidemenu">
        <ul>
          <li ><a href="/wiki/Overview.html">Overivew</a></li>
          <li ><a href="/wiki/Frequent_Questions.html">Frequent Questions</a></li>
          <li ><a href="/wiki/Plugin_Configuration.html">Plugin Configuration</a></li>
          <li ><a href="/wiki/Tips_and_Tricks.html">Tips and Tricks</a></li>
          <li ><a href="/wiki/Email_Time_Sheet_Report.html">Email Time Sheet Report</a></li>
          <li ><a href="/wiki/Timesheet_Holidays.html">Timesheet Holidays</a></li>
          <li class="active"><a href="/wiki/Multiple_Time_Zones.html">Multiple time zones</a></li>
          <li ><a href="/wiki/RESTful_endpoint.html">RESTful endpoint<a></li>
          <li ><a href="/wiki/Unified_Plugin_Views".html>Unified plugin views</a></li>
          <li ><a href="/wiki/Commercial.html">Commercial</a></li>
          <!-- CAUTION: add to rest_content_handler.js#getContentPaths also -->
        </ul>
        <div ng-app="searchApp" ng-controller="SearchResultCtrl">
        <form id="quick-search" method="get" action="index.html">
          <fieldset class="search">
             <input type="text" title="Start typing" ng-model="query"/>
          </fieldset>
        </form>
        <ul class="search">
          <li ng-repeat="content in contents | matchesQuery:query">
            <a ng-href="{[{content.href}]}.html">{[{content.title}]}</a> 
          </li>
        </ul>
        </div>
      </div>
    </div>
  </section>

  </div>

</div>

<div class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span3">
        <h3>Contact Info</h3>
        <div class="footer-list">
        <ul>
            <li><strong>Address: </strong>Prague, Czech Republic</li>
            <li><strong>E-mail: </strong><a href="mailto:azhdanov@gmail.com">azhdanov@gmail.com</a></li>
          </ul>
        </div>
      </div>
    <div class="span3">
        <h3>Links</h3>
        <div class="footer-list">
          <ul>
            <li><a href="https://marketplace.atlassian.com/plugins/jira-timesheet-plugin" target="blank">Atlassian Marketplace</a><i class="icon-external-link"></i></li>
            <li><a href="https://answers.atlassian.com/tags/addon-jira-timesheet-plugin/" target="blank">Atlassian Answers</a><i class="icon-external-link"></i></li>
          </ul>
        </div>
      </div>
    <div class="span3">
        <h3>Site</h3>
        <div class="footer-list">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/wiki/Overview.html">Documentation</a></li>
            <li><a href="/roadmap.html">Roadmap</a></li>
            <li><a href="/support.html">Support</a></li>
          </ul>
        </div>
      </div>
      <div class="span3">
        <h3>Copyright</h3>
        <p class="footer-list">&copy; Andriy Zhdanov 2012-2014</p>
      </div>
    </div>
    <hr/>
    <div class="row-fluid">
    <div class="span12">
        <p class="pull-right">
      <a href="#" data-href="#top" class="back-to-top">Back to Top</a>
    </p>
    </div>
  </div>
  </div>
</div>

<div id="at4-soc" class="atss at-share-open-control-left ats-transparent animated slideInLeft at4-show">
  <div class="at4-arrow at-right" title="Show">Show</div>
</div>

<div id="loading">
  <img id="loading-image" src="/images/loading.gif" alt="Loading..." />
</div>

<div id="fb-root"></div>

</body>
</html>
