<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="description" content="JIRA Timesheet Plugin for Atlassian JIRA extends time tracking means with pivot and timesheet reports
     and gadgets for JIRA dashboard or confluence. ">
    <meta name="author" content="Andriy Zhdanov">
    <meta name="keywords" content="time, timesheet, time sheet, timesheet gadget, work log,
        timetraking, time tracking, time report, time reporting, dashboard gadget, timesheet system, project management">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Plugin Configuration | JIRA Timesheet Plugin</title>

    <link rel="stylesheet" type="text/css" media="screen" href="http://netdna.bootstrapcdn.com/bootswatch/2.3.2/cerulean/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/all-1397507776000.css"> 
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.7.2.min.js"><\/script>')</script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
    <script src="/js/all-1399832936000.js"></script> 

    <script src="/js/sammy/sammy-0.7.2.js"></script>
    <script src="/js/sammy/plugins/sammy.title-0.7.2.js"></script>
    <script src="/js/sammy/plugins/sammy.googleanalytics-0.7.2.js"></script>
    <script src="/js/app/main.js"></script>
    <script src="/js/app/markdown.js"></script>

    <script src="/js/searchApp.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-30916140-2', 'auto');
      ga('send', 'pageview');

    </script>
    <!-- AddThis Smart Layers BEGIN -->
    <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
    <!-- see site.js for dynamic loading
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5206946308988819"></script>
    <script type="text/javascript">
      addthis.layers({
        'theme' : 'transparent',
        'share' : {
          'position' : 'left',
          'numPreferredServices' : 5
        }   
      });
    </script>
    -->
    <!-- AddThis Smart Layers END -->
    <!--script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      {parsetags: 'explicit'}
    </script>
    <script type="text/javascript" src="//connect.facebook.net/en_US/all.js"></script-->
</head>

<body id="top">

<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
        <button type="button" class="btn btn-navbar"
                data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="brand" href="#">JIRA Timesheet</a>
        <div class="nav-collapse collapse">
        <ul class="nav">
          <li id="home" ><a href="/">Home</a><span></span></li>
          <li id="wiki" class="active"><a href="/wiki/Overview.html">Documentation</a><span></span></li>
          <li id="roadmap" ><a href="/roadmap.html">Roadmap</a><span></span></li>
          <li id="support" ><a href="/support.html">Support</a><span></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  
  <header>
    <div class="row-fluid">
      <div class="span12">
        <h1>JIRA Timesheet Reports and Gadgets</h1>
        <p class="lead">Extended JIRA time tracking means</p>
      </div>
    </div>
  </header>

  <div id="content">

  <section>
    <div class="row-fluid">
      <div class="span9">
        <h2>Plugin Configuration</h2>
        <p>Since version <a href="https://marketplace.atlassian.com/plugins/jira-timesheet-plugin/versions#b202">2.4</a> it&#39;s possible to change following plugin configuration options without JIRA restart needed. 
Timesheet Plugin Configuration is available in Administration, Plugins menu in JIRA 5, or Add-ons tab in JIRA 6. Note, those options that were previously advanced configuration options are still backed up with jira-config.properties for backward compatibility.</p>

<h3><a id="Timesheet_Auditors_Group" class="anchor" href="/wiki/Plugin_Configuration.html#Timesheet_Auditors_Group"><span></span></a>Timesheet Auditors Group</h3>

<p>This option is intended to restrict access to Timesheet and Project Pivot to users group. When specified, only users of the group will be allowed to view Timesheet and Pivot assets for other users.</p>

<h3><a id="Timesheet_Restricted_Groups" class="anchor" href="/wiki/Plugin_Configuration.html#Timesheet_Restricted_Groups"><span></span></a>Timesheet Restricted Groups</h3>

<p>This options allows to restrict visibility of other users worked hours to same group members. Users in the selected groups will see worked hours of other users in the same group only.</p>

<h3><a id="Timesheet_Auditors_Role" class="anchor" href="/wiki/Plugin_Configuration.html#Timesheet_Auditors_Role"><span></span></a>Timesheet Auditors Role</h3>

<p>This option provides more granular restrictions access to Timesheet and Project Pivot for other users. If specified, only issues that match specified role will be shown to user in Timesheet and Pivot assets for other users.</p>

<p>Please see <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/453">Issue#453</a> and <a href="https://docs.google.com/spreadsheet/ccc?key=0Ai6BFV79vBqqdFpNbGs2cHlvVlF0bVFYXzJDOWI2LVE">specification</a> for rules for all these three options.</p>

<h3><a id="Composition_Issue_Link" class="anchor" href="/wiki/Plugin_Configuration.html#Composition_Issue_Link"><span></span></a>Composition Issue Link</h3>

<p>&quot;Sum Subtasks&quot; reports and gadgets configuration option by default uses JIRA built in sub-tasks, which have one level hierarchy. But using &#39;is composed of&#39; issue link for sub tasks, Timesheet and Pivot reports can aggregate hours, into parent task. Note, hours are aggregated into root task, transitively via Sub-tasks, Compose Issue Link and also Epic Link from JIRA Agile, since version 2.7, if <code>Parrent Issue Field</code> option is configured, see below.</p>

<p>Note, this option is backed up with the following property in jira-config.properties. Sample usage:</p>

<pre><code>jira.timesheet.plugin.composeIssueLink = Compose</code></pre>

<p>See also issue <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/301/time-301-ability-to-aggregate-time">#301</a></p>

<h3><a id="Parent_Issue_Field" class="anchor" href="/wiki/Plugin_Configuration.html#Parent_Issue_Field"><span></span></a>Parent Issue Field</h3>

<p>Allows to aggregate hours into JIRA Agile Epic issue, when using <code>Sum subtasks</code> report or gadget configuration option. </p>

<h3><a id="In_Progress_issues" class="anchor" href="/wiki/Plugin_Configuration.html#In_Progress_issues"><span></span></a>In Progress issues</h3>

<p>To quickly add worklog for the issues currently in work, see this option to make Timesheet gadget for yourself show <code>In Progress</code> issues in current week. It is necessary to specify JQL query, e.g. <code>assignee = currentUser() and status = &#39;In Progress&#39;</code>.</p>

<p>If you want more flexibility, consider using labels for this, e.g. JQL: <code>labels in (stick_in_timesheet)</code>. So if you want to make some issue appear in timesheet regardless previous worklogs, just add <code>stick_in_timesheet</code> label to it.</p>

<p>Or there is super flexible trick, e.g. JQL: <code>filter = &quot;Sticky Issues for Timesheet&quot;</code>. So everyone can create a filter with this name, to whatever he or she wants. If filter does not exist for a user, nothing happens. Also you can share filters with certain users or groups to simplify their lives.</p>

<p>Since version <a href="https://marketplace.atlassian.com/plugins/jira-timesheet-plugin/versions#b886">2.8.2.3</a> it is also possible to use Timesheet gaget filter option instead of global JQL query.</p>

<p>See also issue <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/475/show-issues-without-a-current-worklog">#475</a>, and issue <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/537/allow-issues-to-be-displayed-regardless-of">#537</a>.</p>

<p>Note before version <code>2.7.6</code>, option uses JQL Clause, e.g. <code>status = &#39;In Progress&#39;</code>. The clause is prepended with <code>assignee = currentUser() and</code>.</p>

<p>Note, this option is backed up with <code>jira.timesheet.plugin.inProgressClause</code> property from jira-config.properties. E.g.</p>

<pre><code>jira.timesheet.plugin.inProgressClause=status=&#39;In Progress&#39;</code></pre>

<p>See also issue <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/317">#317</a>.</p>

<h3><a id="Maximum_Period_Limit" class="anchor" href="/wiki/Plugin_Configuration.html#Maximum_Period_Limit"><span></span></a>Maximum Period Limit</h3>

<p>Use this option to increase limit of maximum days in Timesheet Report or gadget.</p>

<p>See also Issue <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/169/time-169-unbounded-report-size-means-large">#169</a></p>

<p>Note, this option is backed up with <code>jira.timesheet.plugin.maxDays</code> property from jira-config.properties. E.g.</p>

<pre><code>jira.timesheet.plugin.maxDays=360</code></pre>

<h3><a id="Pretty_duration_format" class="anchor" href="/wiki/Plugin_Configuration.html#Pretty_duration_format"><span></span></a>Pretty duration format</h3>

<p>Check this option to make plugin show <code>1d 2h 30m</code> instead of <code>10.5h</code> in all views.</p>

<p>Note, this option is backed up with <code>jira.timesheet.plugin.prettyDuration</code> property from jira-config.properties. E.g.</p>

<pre><code>jira.timesheet.plugin.prettyDuration = true</code></pre>

<p>See also issue <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/202">#202</a> for reference.</p>

<h3><a id="Highlight_Hours" class="anchor" href="/wiki/Plugin_Configuration.html#Highlight_Hours"><span></span></a>Highlight Hours</h3>

<p> If set, the value is used to highlight hours in Time Sheet Report under/over the threshold.</p>

<p> Additionally, if using <code>Remind Users</code> in <code>Groups</code> option of <a href="Email_Time_Sheet_Report.html">Timesheet Email Subscriptions</a>, there will be a notice in users&#39; report email if there is incomplete day, i.e. day total is higher or lower than the value specified in the Highlight Hours plugin configuration option.</p>

<h3><a id="Restrict_Group_by_Field_and_Additional_fields_selectors" class="anchor" href="/wiki/Plugin_Configuration.html#Restrict_Group_by_Field_and_Additional_fields_selectors"><span></span></a>Restrict Group by Field and Additional fields selectors</h3>

<p>This options restricts contents of <code>Group By Field</code> and <code>Additional field</code> selectors in Timesheet Report configuration to the selected fields. </p>

<p>Note, this option is backed up with <code>jira.plugin.timesheet.groupbyfields</code> property in <code>jira-config.properties</code>. E.g.</p>

<pre><code>jira.plugin.timesheet.groupbyfields = Environment,Reporter</code></pre>

<h3><a id="Restrict_Project_selector" class="anchor" href="/wiki/Plugin_Configuration.html#Restrict_Project_selector"><span></span></a>Restrict Project selector</h3>

<p>This options excludes selected projects from <code>Project</code> selectors in plugin reports and gadgets configurations.</p>

<p>Available from version 2.5.</p>

<h3><a id="Weekends" class="anchor" href="/wiki/Plugin_Configuration.html#Weekends"><span></span></a>Weekends</h3>

<p>It is possible to define weekends style in Administration - Add-Ons - Timesheet Plugin Configuraiton, see Weekends configuraiton option. It supports standard (Sat-Sun), Islamic (Fri-Sat) and Indian (Sun) weekend.</p>

<p>Available from version 2.6.</p>

<h3><a id="Time_Sheet_header_Day_Format" class="anchor" href="/wiki/Plugin_Configuration.html#Time_Sheet_header_Day_Format"><span></span></a>Time Sheet header Day Format</h3>

<p>Changing &quot;Date/Time Formats&quot; in JIRA (Administration-&gt;Look and Feel) influences format in tooltips (when you mouse over timesheet header). However if you&#39;d like to change date format in the timesheet header itself, you need to set <code>Day Format 1</code> and/or <code>Day Format 2</code> configuration options.</p>

<p>Available from version 2.6.3.</p>

<p>Note, these options are backed up with <code>jira.timesheet.plugin.dayFormat1=E</code> and <code>jira.timesheet.plugin.dayFormat2=dd/MMM</code> (default values are shown) in <code>jira-config.properties</code>.</p>

<h3><a id="Decimal_separator_for_hours" class="anchor" href="/wiki/Plugin_Configuration.html#Decimal_separator_for_hours"><span></span></a>Decimal separator for hours</h3>

<p>Decimal separator is determined by (your) locale settings. However, you may change it for all users. I.e. it affects whole plugin - all gadgets and both html and excel views for all reports.</p>

<p>Available from version 2.6.3.</p>

<p>Note, this option is backed up in <code>jira-config.properties</code>. E.g. to use coma instead of period (7,5h  instead of 7.5h):</p>

<pre><code>jira.timesheet.plugin.decimalSeparator = ,</code></pre>

<p>See also issue <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/123">#123</a> for reference.</p>

<h3><a id="Custom_days_off_and_holidays" class="anchor" href="/wiki/Plugin_Configuration.html#Custom_days_off_and_holidays"><span></span></a>Custom days off and holidays</h3>

<p>Since version 2.6 it&#39;s possible to configure custom holidays in separate Add-On Administration screen - <code>Timesheet Holidays</code>.</p>

<p>Note, this is backed up in <code>jira-config.properties</code>. E.g.</p>

<pre><code>jira.timesheet.plugin.holidays=\
1/May/2012 - Labor Day,\
9/May/2012 - Victory Day</code></pre>

<p>Or just:</p>

<pre><code>jira.timesheet.plugin.holidays=1/May/2012, 9/May/2012</code></pre>

<p>Dates must be specified in jira default locale and long date format, which are usually <code>en_US</code> and <code>dd/MMM/YYYY</code>.</p>

<p>See also issue <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/257">#257</a> for reference, and issue <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/297">#297</a> for implemented enhancement.</p>

<h3><a id="Backing_properties" class="anchor" href="/wiki/Plugin_Configuration.html#Backing_properties"><span></span></a>Backing properties</h3>

<p>For more information about setting corresponding property in <code>jira-config.properties</code>, please see <a href="https://confluence.atlassian.com/display/JIRA050/Advanced+JIRA+Configuration">Advanced JIRA Configuration</a>.</p>
        <p class="pull-right">
          <a href="#" data-href="#top" class="back-to-top">Back to Top</a>
        </p>
      </div>
      <div class="span3 sidemenu">
        <ul>
          <li ><a href="/wiki/Overview.html">Overview</a></li>
          <li ><a href="/wiki/Frequent_Questions.html">Frequent Questions</a></li>
          <li class="active"><a href="/wiki/Plugin_Configuration.html">Plugin Configuration</a></li>
          <li ><a href="/wiki/Tips_and_Tricks.html">Tips and Tricks</a></li>
          <li ><a href="/wiki/Email_Time_Sheet_Report.html">Email Time Sheet Report</a></li>
          <li ><a href="/wiki/Timesheet_Holidays.html">Timesheet Holidays</a></li>
          <li ><a href="/wiki/Multiple_Time_Zones.html">Multiple time zones</a></li>
          <li ><a href="/wiki/RESTful_endpoint.html">RESTful endpoint<a></li>
          <li ><a href="/wiki/Unified_Plugin_Views".html>Unified plugin views</a></li>
          <li ><a href="/wiki/Commercial.html">Commercial</a></li>
          <!-- CAUTION: add to rest_content_handler.js#getContentPaths also -->
        </ul>
        <div ng-app="searchApp" ng-controller="SearchWikiCtrl">
        <form>
          <fieldset class="search">
             <input type="text" title="Start typing" ng-model="query"/>
          </fieldset>
        </form>
        <ul class="search">
          <li ng-repeat="content in contents | matchesQuery:query">
            <a ng-href="{[{content.href}]}.html">{[{content.title}]}</a> 
          </li>
        </ul>
        </div>
      </div>
    </div>
  </section>

  </div>

</div>

<div class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span3">
        <h3>Contact Info</h3>
        <div class="footer-list">
        <ul>
            <li><strong>Address: </strong>Prague, Czech Republic</li>
            <li><strong>E-mail: </strong><a href="mailto:azhdanov@gmail.com">azhdanov@gmail.com</a></li>
          </ul>
        </div>
      </div>
    <div class="span3">
        <h3>Links</h3>
        <div class="footer-list">
          <ul>
            <li><a href="https://marketplace.atlassian.com/plugins/jira-timesheet-plugin" target="blank">Atlassian Marketplace</a><i class="icon-external-link"></i></li>
            <li><a href="https://answers.atlassian.com/tags/addon-jira-timesheet-plugin/" target="blank">Atlassian Answers</a><i class="icon-external-link"></i></li>
          </ul>
        </div>
      </div>
    <div class="span3">
        <h3>Site</h3>
        <div class="footer-list">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/wiki/Overview.html">Documentation</a></li>
            <li><a href="/roadmap.html">Roadmap</a></li>
            <li><a href="/support.html">Support</a></li>
          </ul>
        </div>
      </div>
      <div class="span3">
        <h3>Copyright</h3>
        <p class="footer-list">&copy; Andriy Zhdanov 2012-2014</p>
      </div>
    </div>
    <hr/>
    <div class="row-fluid">
    <div class="span12">
        <p class="pull-right">
      <a href="#" data-href="#top" class="back-to-top">Back to Top</a>
    </p>
    </div>
  </div>
  </div>
</div>

<div id="at4-soc" class="atss at-share-open-control-left ats-transparent animated slideInLeft at4-show">
  <div class="at4-arrow at-right" title="Show">Show</div>
</div>

<div id="loading">
  <img id="loading-image" src="/images/loading.gif" alt="Loading..." />
</div>

<div id="fb-root"></div>

</body>
</html>
