<!-- main -->
<div id="main">
  <section>
    <div class="row-fluid">
      <div class="span9">
        <h2>Thank you!</h2>
        <p>Thank you for buying Timesheet Reports and Gadgets Add-On for JIRA OnDemand.</p>
        <p>You will shortly receive license code to email address you have used for PayPal payment.</p>
      </div>
      <div class="span3 sidemenu">
        <ul>
          <li><a href="#/wiki/Overview">Documentation</a></li>
          <li><a href="#/wiki/Frequent_Questions">Frequent Questions</a></li>
          <li><a href="https://answers.atlassian.com/tags/addon-jira-timesheet-plugin/" target="blank">Atlassian Answers</a><i class="icon-external-link"></i></li>
          <li><a href="https://bitbucket.org/azhdanov/jiratimesheet/issues?status=new&status=open" target="blank">Issues</a><i class="icon-external-link"></i></li>
        </ul>
      </div>
    </div>
  </section>
<!-- /main -->
</div>
