<!-- main -->
<div id="main">
  <section>
    <div class="row-fluid">
      <div class="span9">
        <h2>License</h2>
        <p>You can purchase commercial license here or request demonstration license below to enable new features, like <a href="http://www.jiratimesheet.com/#/wiki/Plugin_Configuration">Timesheet Configuration</a>, <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/297/time-297-holidays-calendar" target="blank">Timesheet Holidays</a>, <a href="http://www.jiratimesheet.com/#/wiki/Email_Time_Sheet_Report">Timesheet Email</a> and <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/416" target="blank">Worked Time Chart</a> in <b>JIRA OnDemand</b>. You don't need license unless you need these features.</p>
        <p>Note, this is temporary solution until Atlassian enables licensing for plugin for JIRA OnDemand. It has no variation by number of users in JIRA, so price is the same for all size companies. And only payments via PayPal are supported with no any kind of invoice beside standard PayPal confirmation are possible.</p>
        <p>Once you pay chosen amount, you will shortly receive license code to email address you use for PayPal payment. Copy paste it into <u>https://yourjirahost/secure/LicenseConfiguration!default.jspa</u> (edit <code>yourjirahost</code>), though normally you should have come here from that page.</p>
        <p>Please, chose period of license validity, specify name of your Organisation (will be displayed in License) and click <code>Pay Now</code> below to be redirected to payment page. Should you have any questions, please do not hesitate to write an <a href="mailto:azhdanov@gmail.com">email</a>.
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="HD435D5G6JZN6">
            <table>
            <tr><td><input type="hidden" name="on0" value="Validity Period">Validity Period</td></tr><tr><td><select name="os0">
                <option value="Month">Month $50.00 USD</option>
                <option value="Year">Year $500.00 USD</option>
            </select> </td></tr>
            <tr><td><input type="hidden" name="on1" value="Organisation Name">Organisation Name</td></tr><tr><td><input type="text" name="os1" maxlength="200"></td></tr>
            </table>
            <input type="hidden" name="currency_code" value="USD">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </p>
        <p>To request <b>demonstration license</b>, please fill in email and organisation name, and click 'Send'.
	    <div id="demoLicense">
            <form action="http://licensedelivery.appspot.com/digisell" method="post" target="_top">
	        <input type="hidden" name="item_number" value="1">
            <input type="hidden" name="license-type" value="DEMONSTRATION">
            <input type="hidden" name="option_selection1" value="Month">
            <table>
	            <tr><td><label for="payer_email">Email:</label></td></tr>
		        <tr><td><input type="email" name="payer_email" required></td></tr>
	            <tr><td><label for="option_selection1">Organisation Name:</label></td></tr>
		        <tr><td><input type="text" name="option_selection2" required></td></tr>
            </table>
            <input type="submit" name="submit" alt="Request demonstration license" value="Send">
	        </form>
	        <scrypt type="application/javascript">
		    <!--
		    -->
		    </script>
	    </div>
	    </p>
        <p>Thank you for using Timesheet Reports and Gadgets Add-On for JIRA.</p> 
      </div>
      <div class="span3 sidemenu">
        <ul>
          <li><a href="#/wiki/Overview">Documentation</a></li>
          <li><a href="#/wiki/Frequent_Questions">Frequent Questions</a></li>
          <li><a href="https://answers.atlassian.com/tags/addon-jira-timesheet-plugin/" target="blank">Atlassian Answers</a><i class="icon-external-link"></i></li>
          <li><a href="https://bitbucket.org/azhdanov/jiratimesheet/issues?status=new&status=open" target="blank">Issues</a><i class="icon-external-link"></i></li>
        </ul>
      </div>
    </div>
  </section>
<!-- /main -->
</div>
