<div id="main">
  <section>
    <div class="row-fluid">
      <div class="span9">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
              <img src="images/slider/timesheet-plugin-banner.png" data-thumb="images/slider/timesheet-plugin-banner.png" alt="Timesheet Reports and Gadgets" />
              <img src="images/slider/timesheet_report.png" data-thumb="images/slider/timesheet_report.png" alt="Timesheet Report"/>
              <img src="images/slider/timesheet_gadget.png" data-thumb="images/timesheet_gadget.png" alt="Timesheet Gadget" />
              <img src="images/slider/timesheet_report_group.png" data-thumb="images/slider/timesheet_report_group.png" alt="Group Timesheet Report" />
              <img src="images/slider/timesheet_gadget_group.png" data-thumb="images/slider/timesheet_gadget_group.png" alt="Group Timesheet Gadget" />
              <img src="images/slider/timesheet_report_details.png" data-thumb="images/slider/timesheet_report_details.png" alt="Timesheet Report"/>
              <img src="images/slider/pivot_report.png" data-thumb="images/slider/pivot_report.png" alt="Pivot Report" />
              <img src="images/slider/pivot_gadget.png" data-thumb="images/slider/pivot_gadget.png" alt="Pivot Gadget" />
              <img src="images/slider/timechart_gadget.png" data-thumb="images/timechart_gadget.png" alt="Worked Time Gadget" />
              <img src="images/slider/workedissues.png" data-thumb="images/workedissues.png" alt="JQL function workedIssues(fromDate, toDate, userOrGroup)" />
            </div>
        </div>
      </div>
	  <div class="span3 sidemenu">
        <a href="https://promo.atlassian.com/43YGV9"><img src="images/marketplace_christmas_offer_270x120.png" title="Available on the Atlassian Marketplace" alt="Available on the Atlassian Marketplace"/></a>
        <ul>
          <li><a href="#/wiki/Overview">JIRA Timesheet</a></li>
          <li><a href="#/wiki/Frequent_Questions">Frequent Questions</a></li>
          <li><a href="#/roadmap">Roadmap</a></li>
          <li><a href="https://answers.atlassian.com/tags/addon-jira-timesheet-plugin/" target="blank">Atlassian Answers</a><i class="icon-external-link"></i></li>
          <li><a href="https://bitbucket.org/azhdanov/jiratimesheet/issues?status=new&status=open" target="blank">Issues</a><i class="icon-external-link"></i></li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="row-fluid">
        <div class="hero-unit">
          Extends JIRA time tracking means with Time Sheet and Pivot reports and gadgets for JIRA dashboard or confluence, Time Sheet Email, Worked Time Chart gadget, REST endpoint and workedIssues JQL function.
        </div>
   </div>
  </section>

  <section>
    <div class="row-fluid post">
        <div class="span2 post-meta">
          <ul>
            <li class="icon-user">Pedro Macedo Leite</li>
            <li class="icon-time">26 Oct'12</li>
          </ul>
        </div>
        <div class="span10">
          <p>I highly recommend this plugin because: - Facilitates the management teams, - It is easy to use, - Do not lock, And most importantly, have a great facility to contact the developer. I had a very satisfactory experience with the plugin and support the developer.</p>
        </div>
    </div>

    <div class="row-fluid post">
        <div class="span2 post-meta">
          <ul>
            <li class="icon-user">Dave Meyer, Atlassian</li>
            <li class="icon-time">21 Aug'12</li>
          </ul>
        </div>
        <div class="span10">
          <p>The reporting and exporting features of JIRA Timesheet allow JIRA users to add exceptional functionality in the form of reports and gadgets for a great price. <a href="http://blogs.atlassian.com/2012/08/marketplace-monday-jira-timeshee">Read More...</a></p>
        </div>
    </div>

    <div class="row-fluid post">
        <div class="span2 post-meta">
          <ul>
            <li class="icon-user">cristina</li>
            <li class="icon-time">04 Jan'11</li>
          </ul>
        </div>
        <div class="span10">
          <p>It is great! It works with version 4.2 Time sheet gadget is specially useful to follow developers time tracking every day from dashboard.</p>
        </div>
        </aside>
    </div>
   </section>
</div>