<!-- main -->
<div id="main">
  
  <section>
    <div class="row">
      <div class="span9">
        <h2>Roadmap</h2>
        <p>For the long time Timesheet plugin evolves based on your feedback and feature requests, but I also have some features in mind.
         Please vote for any or many enhancements below, publicly or at corresponding bitbucket issue, if you'd like it to be implemented.</p>
        <div class="post">
          <h3>Holidays Calendar (<a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/297/time-297-holidays-calendar">Issue #297</a>)</h3>
          <p>Curently there is basic support for holidays (see <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/257/time-257-Holiday-configuration">Issue #257</a>),
           however it could be better if holidays were retrieved automatically from corporate calendar, e.g. <a href="http://www.atlassian.com/software/team-calendars/overview/wiki-calendar-jira-planning">Confluence Team Calendars</a>
           or any other ical web service, e.g. <a href="http://www.calendarlabs.com/ical-calendar-holidays.php">http://www.calendarlabs.com/ical-calendar-holidays.php</a></p>
        <p>Please like it publicly or vote for bitbucket <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/297/time-297-holidays-calendar">Issue #297</a>,
         if you'd like this feature to be implemented.
          <ul class="nostyle">
            <li><div class="g-plusone" data-href="https://bitbucket.org/azhdanov/jiratimesheet/issue/297/time-297-holidays-calendar" data-size="medium"></div></li>
            <li><div class="fb-like" data-href="https://bitbucket.org/azhdanov/jiratimesheet/issue/297/time-297-holidays-calendar" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="tahoma" style="margin-left: auto; margin-right: auto; text-align: center;"></div></li>
            <li><div id="vk-like-1" class="vk-like" data-href="https://bitbucket.org/azhdanov/jiratimesheet/issue/297/time-297-holidays-calendar"></div></li>
          </ul>
          <p>&nbsp;</p>
        </div>
        <div class="post">
          <h3>Configurable weekends (<a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/14/time-14-make-marking-weekends-configurable">Issue #14</a>)</h3>
          <p>The functionality of visualizing Saturday and Sunday is not perfect. There are some countries where different days are non-working days (e.g. Friday and Saturday in Israel).
           Maybe it would reasonable to make plugin configurable by selecting in configuration dialog in a multi-selection list the days which are to be marked as weekends.</p>
        <p>Please like it publicly or vote for bitbucket <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/14/time-14-make-marking-weekends-configurable">Issue #14</a>,
         if you'd like this feature to be implemented.
          <ul class="nostyle">
            <li><div class="g-plusone" data-href="https://bitbucket.org/azhdanov/jiratimesheet/issue/14/time-14-make-marking-weekends-configurable" data-size="medium"></div></li>
            <li><div class="fb-like" data-href="https://bitbucket.org/azhdanov/jiratimesheet/issue/14/time-14-make-marking-weekends-configurable" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="tahoma" style="margin-left: auto; margin-right: auto; text-align: center;"></div></li>
            <li><div id="vk-like-2" class="vk-like" data-href="https://bitbucket.org/azhdanov/jiratimesheet/issue/14/time-14-make-marking-weekends-configurable"></div></li>
          </ul>
        </div>
      </div>
      <div class="span3 sidemenu">
        <ul>
          <li><a href="#/wiki/Overview">Documentation</a></li>
          <li><a href="#/wiki/Frequent_Questions">Frequent Questions</a></li>
          <li><a href="https://answers.atlassian.com/tags/addon-jira-timesheet-plugin/" target="blank">Atlassian Answers</a><i class="icon-external-link"></i></li>
          <li><a href="https://bitbucket.org/azhdanov/jiratimesheet/issues?status=new&status=open" target="blank">Issues</a><i class="icon-external-link"></i></li>
        </ul>
      </div>
    </div>
  </section>

  
<!-- /main -->
</div>
