<!-- main -->
<div id="main">
  
  <section>
    <div class="row-fluid">
      <div class="span9">
        <h2>Roadmap</h2>
        <p>For the long time Timesheet plugin evolves based on your feedback and feature requests, and I also have some features in mind.
         Please vote for any or many enhancements below, publicly or at corresponding bitbucket issue, if you'd like it to be implemented.</p>
        <div class="post">
          <h4>Holidays Calendar (<a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/297/time-297-holidays-calendar">Issue #297</a>)</h4>
          <p>Curently there is basic support for holidays (see <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/257/time-257-Holiday-configuration">Issue #257</a>),
           however it could be better if holidays were retrieved automatically from corporate calendar, e.g. <a href="http://www.atlassian.com/software/team-calendars/overview/wiki-calendar-jira-planning">Confluence Team Calendars</a>
           or any other ical web service, e.g. <a href="http://www.calendarlabs.com/ical-calendar-holidays.php">http://www.calendarlabs.com/ical-calendar-holidays.php</a></p>
          <p>Please like it publicly or vote for bitbucket <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/297/time-297-holidays-calendar">Issue #297</a>,
           if you'd like this feature to be implemented.
          <ul class="nostyle">
            <li><div class="g-plusone" data-href="https://bitbucket.org/azhdanov/jiratimesheet/issue/297/time-297-holidays-calendar" data-size="medium"></div></li>
            <li><div class="fb-like" data-href="https://bitbucket.org/azhdanov/jiratimesheet/issue/297/time-297-holidays-calendar" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="tahoma" style="margin-left: auto; margin-right: auto; text-align: center;"></div></li>
            <li><div id="vk-like-1" class="vk-like" data-href="https://bitbucket.org/azhdanov/jiratimesheet/issue/297/time-297-holidays-calendar"></div></li>
          </ul>
          <p>&nbsp;</p>
        </div>
        <div class="post">
          <h4>Configurable weekends (<a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/14/time-14-make-marking-weekends-configurable">Issue #14</a>)</h4>
          <p>The functionality of visualizing Saturday and Sunday is not perfect. There are some countries where different days are non-working days (e.g. Friday and Saturday in Israel).
           Maybe it would reasonable to make plugin configurable by selecting in configuration dialog in a multi-selection list the days which are to be marked as weekends.</p>
          <p>Please like it publicly or vote for bitbucket <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/14/time-14-make-marking-weekends-configurable">Issue #14</a>,
           if you'd like this feature to be implemented.
          <ul class="nostyle">
            <li><div class="g-plusone" data-href="https://bitbucket.org/azhdanov/jiratimesheet/issue/14/time-14-make-marking-weekends-configurable" data-size="medium"></div></li>
            <li><div class="fb-like" data-href="https://bitbucket.org/azhdanov/jiratimesheet/issue/14/time-14-make-marking-weekends-configurable" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="tahoma" style="margin-left: auto; margin-right: auto; text-align: center;"></div></li>
            <li><div id="vk-like-2" class="vk-like" data-href="https://bitbucket.org/azhdanov/jiratimesheet/issue/14/time-14-make-marking-weekends-configurable"></div></li>
          </ul>
          <p>&nbsp;</p>
        </div>
        <div class="post">
          <h4>Sum Tasks/Stories into Epic (<a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/360/sum-tasks-stories-into-epic">Issue #360</a>)</h4>
          <p>Summing sub tasks (<a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/301/time-301-ability-to-aggregate-time">Issue #301</a>) is nice,
           though it could be extended it to sum worked hours into GreenHopper Epic issues.</p>
          <p>Please like it publicly or vote for bitbucket <a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/360/sum-tasks-stories-into-epic">Issue #360</a>,
           if you'd like this feature to be implemented.
          <ul class="nostyle">
            <li><div class="g-plusone" data-href="https://bitbucket.org/azhdanov/jiratimesheet/issue/360/sum-tasks-stories-into-epic" data-size="medium"></div></li>
            <li><div class="fb-like" data-href="https://bitbucket.org/azhdanov/jiratimesheet/issue/360/sum-tasks-stories-into-epic" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="tahoma" style="margin-left: auto; margin-right: auto; text-align: center;"></div></li>
            <li><div id="vk-like-3" class="vk-like" data-href="https://bitbucket.org/azhdanov/jiratimesheet/issue/360/sum-tasks-stories-into-epic"></div></li>
          </ul>
          <p>&nbsp;</p>
        </div>
        <p class="pull-right">
          <a href="#" data-href="#top" class="back-to-top">Back to Top</a>
        </p>
      </div>
      <div class="span3 sidemenu">
        <ul>
          <li><a href="#/wiki/Overview">Documentation</a></li>
          <li><a href="#/wiki/Frequent_Questions">Frequent Questions</a></li>
          <li><a href="https://answers.atlassian.com/tags/addon-jira-timesheet-plugin/" target="blank">Atlassian Answers</a><i class="icon-external-link"></i></li>
          <li><a href="https://bitbucket.org/azhdanov/jiratimesheet/issues?status=new&status=open" target="blank">Issues</a><i class="icon-external-link"></i></li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="row-fluid">
      <div class="span9">
        <h2>Features done recently</h2>
        <div class="post">
          <h4>Email Timesheet Report (<a href="https://bitbucket.org/azhdanov/jiratimesheet/issue/316/time-316-email-timesheet-report-to-user">Issue #316</a>)</h4>
          <p>Since version 2.5 it is possible to Subscribe to Time Sheet Report to receive it regularly by email. See more details <a href="#/wiki/Email_Time_Sheet_Report">here.</a>
	         It may be even better way to keep an eye on worklogs of your team, than Timesheet Gadget on Dashboard.</p>
          <p>Do you like it too? Let all know!</p>
          <ul class="nostyle">
            <li><div class="g-plusone" data-href="https://bitbucket.org/azhdanov/jiratimesheet/issue/316/time-316-email-timesheet-report-to-user" data-size="medium"></div></li>
            <li><div class="fb-like" data-href="https://bitbucket.org/azhdanov/jiratimesheet/issue/316/time-316-email-timesheet-report-to-user" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="tahoma" style="margin-left: auto; margin-right: auto; text-align: center;"></div></li>
            <li><div id="vk-like-10" class="vk-like" data-href="https://bitbucket.org/azhdanov/jiratimesheet/issue/316/time-316-email-timesheet-report-to-user"></div></li>
          </ul>
          <p>&nbsp;</p>
        </div>
        <p class="pull-right">
          <a href="#" data-href="#top" class="back-to-top">Back to Top</a>
        </p>
    </div>
  </section>

<!-- /main -->
</div>
