<!-- main -->
<div id="main">
  <section>
    <div class="row-fluid">
      <div class="span9">
        <h2>Having trouble?</h2>
        <p>Check <a href="#/wiki/Frequent_Questions">Frequent Questions</a>
          or <a href="https://answers.atlassian.com/tags/addon-jira-timesheet-plugin/">Atlassian Answers</a>
          or <a href="https://bitbucket.org/azhdanov/jiratimesheet/issues">Issue Tracker</a>.</p>
        <!-- TODO: https://developer.atlassian.com/rest/answers/1.0/search?query=&tags=addon-jira-timesheet-plugin&sort=active -->
        <p>Have not found solution? Feel free to <a href="https://answers.atlassian.com/questions/ask/?tags=addon-jira-timesheet-plugin">ask a question</a> or <a href="https://bitbucket.org/azhdanov/jiratimesheet/issues/new">report a problem</a>.
        <p>Or even <a href="mailto:azhdanov@gmail.com">drop me an email</a>, I'm always glad to hear your feedback.</p>
        <p>And you're welcome to leave a review comment on <a href="https://marketplace.atlassian.com/plugins/jira-timesheet-plugin#reviews">Atlassian Marketplace</a>!</p>
        <p>
      </div>
      <div class="span3 sidemenu">
        <ul>
          <li><a href="#/wiki/Overview">Documentation</a></li>
          <li><a href="#/wiki/Frequent_Questions">Frequent Questions</a></li>
          <li><a href="https://answers.atlassian.com/tags/addon-jira-timesheet-plugin/" target="blank">Atlassian Answers</a><i class="icon-external-link"></i></li>
          <li><a href="https://bitbucket.org/azhdanov/jiratimesheet/issues?status=new&status=open" target="blank">Issues</a><i class="icon-external-link"></i></li>
        </ul>
      </div>
    </div>
  </section>
<!-- /main -->
</div>
